* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Funnel Display' !important;
  overflow-x: hidden;
}
.container {
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
}
h1 {
  font-size: 70px;
  color: white;
}
img {
  max-width: 100%;
}
.site-header .container {
  position: relative;
}
.site-header__navbar {
  background-color: #121b1f;
  min-height: 75px;
  align-items: center;
  padding: 0px 35px;
  border-radius: 35px;
  position: fixed;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}
.site-header__logo {
  width: 30%;
}

.site-header__nav-list {
  width: 50%;
  justify-content: center; /* center nav */
}

.site-header__hamburger {
  width: 20%;
  justify-content: flex-end;
}
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.site-header__navbar--scrolled {
  background-color: white;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: all 0.3s ease;
}

.site-header__navbar--scrolled .site-header__nav-link {
  color: #121b1f;
}

nav {
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
.nav-flex a {
  display: flex;
  gap: 5px;
  align-items: center;
}
.site-header__hamburger {
  width: 10%;
  display: flex;
  justify-content: end;
}

.site-header__logo {
  width: 30%;
  display: flex;
}

.site-header__logo img {
  width: 211px;
  height: 27px;
}

.site-header__nav-list {
  width: 40%;
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
}

.site-header__nav-link {
  color: #ffffffb3;
  text-decoration: none;
  font-size: 17px;
  padding: 10px 22px;
  font-weight: 500;
  transition: 0.3s all ease;
  border-radius: 20px;
}

.site-header__nav-link:hover {
  background-color: #080c0e;
  color: white;
}

.site-header__nav-link:active {
  background-color: #080c0e;
  color: white;
}
.hero {
  padding-top: 250px;
  padding-bottom: 120px;
  background-color: #080c0e;
}

.hero__container {
  width: 100%;
}

.hero__layout {
  display: flex;
  gap: 35px;
}

.hero__content {
  width: 55%;
}

.hero__group {
  display: flex;
  gap: 45px;
  align-items: center;
}

.hero__users p {
  margin-bottom: 0px !important;
}

.hero__visuals {
  width: 45%;
  display: flex;
  gap: 25px;
}

.hero__content p {
  font-size: 17px;
  color: white;
  margin-bottom: 50px;
}

.hero__btn {
  padding: 21px 25px;
  background-color: white;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}

.hero__btn i {
  margin-left: 10px;
}

.hero__avatars {
  display: flex;
  position: relative;
}

.hero__avatars img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 4px;
  margin-left: -30px;
  border: 4px solid black;
}
.hero__users h5 {
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.hero__avatar--main {
  z-index: 4;
  /* border: 4px solid black; */
}

.hero__avatar--two {
  z-index: 3;
}

.hero__avatar--three {
  z-index: 2;
}

.hero__avatar--four {
  z-index: 1;
}

.hero__visuals-left {
  flex: 1;
}

.hero__average {
  background-color: #cbe1e4;
  padding: 25px;
  border-radius: 30px;
  margin-bottom: 25px;
}

.hero__average h3 {
  font-size: 33px;
  margin-bottom: 40px;
}

.hero__percent {
  background-color: black;
  color: white;
  padding: 17px 22px;
  border: none;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 600;
}

.hero__percent .fa-solid {
  font-size: 17px;
}

.hero__graph {
  border-radius: 30px;
  overflow: hidden;
}

.hero__graph img {
  transition: 0.3s all ease-in;
}

.hero__graph img:hover {
  transform: scale(1.1);
}
.sidebar__cancel i {
  transition: 0.2s all ease-in;
}
.sidebar__cancel i:hover {
  color: #1559ed;
  transform: rotate(90deg);
}
.hero__visuals-right {
  flex: 1;
  overflow: hidden;
  border-radius: 30px;
}

.hero__visuals-right img {
  transition: 0.3s all ease-in;
  border-radius: 30px;
}

.hero__visuals-right img:hover img {
  transform: scale(1.1);
}

.hero__how {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero__how i {
  font-size: 20px;
}

.hero__invoice {
  display: flex;
  gap: 10px;
  align-items: center;
}

.hero__tick {
  color: green;
}

.hero__paid h4 {
  font-weight: bold;
}

.hero__paid p {
  color: #cbe1e4;
}

/* Side Menu */
.sidebar {
  position: relative;
}

.sidebar__menu {
  max-width: 465px;
  width: 100%;
  background-color: white;
  right: 0;
  border-radius: 30px;
  padding: 35px;
  margin: 30px;
  height: 85vh;
  overflow-y: scroll;
  z-index: 102;
  position: fixed;
  top: 0%;
  transform: translateX(100%) translateY(0%);
  transition: transform 0.4s ease-in-out, opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.sidebar__menu--show {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.block {
  display: block !important;
}

.sidebar__logo {
  width: 211px;
  height: 27px;
  margin-bottom: 50px;
}

.sidebar__cancel {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.sidebar__nav-list {
  flex-direction: column;
  margin-bottom: 50px;
  list-style: none;
  display: flex;
  gap: 10px;
}

.sidebar__nav-link {
  color: #515455;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.sidebar__nav-link:hover {
  color: black;
  background-color: transparent;
}

.sidebar__promo {
  background-color: #cbe1e4;
  padding: 30px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.sidebar__promo-img {
  margin-bottom: 30px;
}

.sidebar__promo-img img {
  width: 15px;
  height: 15px;
  padding: 20px;
  border-radius: 50%;
  background-color: black;
}

.sidebar__promo-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.sidebar__promo-text {
  color: #515455;
  margin-bottom: 20px;
}

.sidebar__promo-btn {
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  background-color: black;
  color: white;
  transition: 0.3s all ease;
}

.sidebar__promo-btn:hover {
  color: black;
  background-color: white;
}
/* scroll bar */

.side-menu::-webkit-scrollbar {
  display: none;
}

/* Overlay */
.site-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 101;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.site-overlay--active {
  opacity: 1;
  pointer-events: auto;
}

.site-overlay--hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
.hero__visuals-left {
  width: 40%;
}

.hero__visuals-right {
  width: 60%;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 540px;
  height: 540px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden; /* just in case, keeps the ::before in bounds */
  padding: 25px;
}

.hero__visuals-right::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/home-hero-image-2.webp);
  /* background-color: red; */
  background-size: cover;
  background-position: center;
  z-index: 0;
  opacity: 1;
  transition: 0.2s all ease;
}

.hero__visuals-right:hover::before {
  transform: scale(1.1); /* zooms in slightly */
}

.hero__visuals-right > * {
  position: relative;
  z-index: 2;
}

.hero__invoice {
  display: flex;
  padding: 10px 50px 10px 13px;
  backdrop-filter: blur(35px);
  border-radius: 30px;
  gap: 15px;
  align-items: center;
}

.hero__invoice .hero__paid p {
  color: white;
}

.hero__tick i {
  color: black;
  font-size: 18px;
}

.hero__tick {
  background-color: white;
  padding: 14px;
  border-radius: 50%;
  height: fit-content;
  line-height: 1;
}

.hero__how .fa-play {
  background-color: white;
  color: black;
  padding: 14px;
  font-size: 14px;
  border-radius: 50%;
  transition: 0.2s all ease;
}

.hero__how .fa-play:hover {
  background-color: #1559ed;
  color: white;
}

.hero__how {
  display: flex;
  gap: 15px;
  align-items: center;
}

.exclusive {
  padding: 120px 0px;
}

.exclusive__expert {
  display: flex;
  gap: 120px;
}

.exclusive__title {
  font-size: 15px;
  margin-bottom: 40px;
}

.exclusive__heading {
  font-size: 50px;
  line-height: 1.3em;
  font-weight: 600;
  margin-bottom: 20px;
}

.exclusive__description {
  font-size: 18px;
  margin-bottom: 40px;
}

.exclusive__btn {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  transition: 0.2s all ease;
}

.exclusive__btn--black {
  background-color: black;
  color: white;
}

.exclusive__btn--black:hover {
  background-color: #1559ed;
  column-rule-color: white;
}

.exclusive__btn--trans:hover {
  color: #1559ed;
}

.exclusive__icon {
  font-size: 13px;
  color: black;
}

.exclusive__detail {
  width: 60%;
}

.exclusive__dollars {
  width: 40%;
}

.exclusive__dollars {
  background-image: url(/assets/images/home-section-2-column-background.webp);
  background-size: cover;
  background-position: center center;
  border-radius: 30px;
  padding: 90px 75px 75px;
}
.brands {
  padding-bottom: 120px;
}

.brands__images-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brands__title {
  font-size: 18px;
  font-weight: bold;
}

.brands__image {
  height: 35px;
}

.levels__change {
  padding: 120px 0px;
  background-color: #080c0e;
  position: relative;
}

.levels__heading {
  font-size: 50px;
  margin: 0 auto 60px;
  color: white;
  text-align: center;
}

.levels__cards {
  display: flex;
  gap: 20px;
}

.levels__card {
  background-color: white;
  padding: 35px 30px 30px;
  border-radius: 30px;
  transition: 0.2s all ease;
}

.levels__card-number {
  font-size: 16px;
  margin-bottom: 10px;
}

.levels__card-title {
  color: black;
  font-size: 22px;
  margin-bottom: 15px;
}

.levels__card-description {
  margin-bottom: 40px;
}

.levels__btn {
  padding: 15px 30px;
  border-radius: 30px;
  background-color: black;
  color: white;
  border: none;
  font-size: 17px;
}

.levels__card--w-img {
  background-image: url(/assets/images/home-section-4-column-background.webp);
  background-position: center;
  background-size: cover;
  color: white;
}

.levels__card--w-img .levels__card-title {
  color: white;
}

.levels__card:hover {
  transform: translateY(-20px);
  background-color: #cbe1e4;
}

.levels__btn--white {
  background-color: white;
  color: black;
}

.levels__btn:hover {
  background-color: #1559ed;
}
.solutions {
  padding: 120px 0px;
}

.solutions__container {
  width: 100%;
}

.solutions__speak {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.solutions__heading {
  font-size: 50px;
}

.solutions__btn {
  padding: 15px 30px;
  border-radius: 30px;
  background-color: black;
  color: white;
  border: none;
  font-size: 17px;
}

.solutions__btn--view {
  background-color: black;
}

.solutions__cards {
  padding-top: 60px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.solutions__card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 1 100%;
  flex-wrap: wrap;
}

.solutions__price {
  width: 20%;
}

.solutions__price-value {
  font-size: 45px;
}

.solutions__price-label {
  font-size: 18px;
}

.solutions__date {
  width: 20%;
  text-align: right;
}

.solutions__date p {
  font-size: 20px;
}

.solutions__info {
  width: 60%;
}

.solutions__info-description {
  font-size: 20px;
  margin-bottom: 20px;
}

.solutions__info button {
  color: black;
  border: none;
  background-color: transparent;
  font-size: 20px;
}
.pts {
  padding-bottom: 120px;
}

.pts__container {
  width: 100%;
}

.pts__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.pts__heading {
  font-size: 20px;
  margin-bottom: 15px;
}

.pts__description {
  font-size: 18px;
  margin-bottom: 30px;
  color: #515455;
}

.pts__btn {
  background-color: transparent;
  border: none;
  font-size: 17px;
}

.pts__professional,
.pts__transparency,
.pts__security {
  width: 30%;
}
.support {
  padding: 60px 0px;
  background-color: #cbe1e4;
}

.support__container {
  width: 100%;
}

.support__flex {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}

.support__zero {
  width: 60%;
}

.support__input {
  width: 40%;
}

.support__heading {
  font-size: 50px;
  margin-bottom: 30px;
}

.support__description {
  font-size: 20px;
  margin-bottom: 20px;
}

.support__email-input {
  min-height: 55px;
  padding: 0px 25px;
  border: none;
  border-radius: 25px;
  width: 100%;
  margin-bottom: 20px;
}

.support__btn {
  width: 100%;
  padding: 17px;
  background-color: black;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.support__icon-flex {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.support__icon-flex img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.support__check {
  display: flex;
  gap: 10px;
  align-items: center;
}

.support__check p {
  font-size: 20px;
}
.footer {
  padding: 60px 0;
  background-color: black;
}

.footer__container {
  width: 100%;
}

.footer__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo img {
  width: 234px;
  height: 30px;
  margin-bottom: 50px;
}

.footer__menu-list,
.footer__tcs-list {
  list-style: none;
  padding: 0;
}

.footer__menu-item,
.footer__tcs-item {
  display: inline-block;
  margin-right: 20px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.footer__menu-item:last-child,
.footer__tcs-item:last-child {
  margin-right: 0;
}
.hover-flex {
  display: flex;
}
.hover {
  display: flex;
  padding: 25px;
  gap: 30px;
}
.hover i {
  font-size: 30px;
}
.hover-menu {
  max-width: 700px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 50% !important;
  left: 60%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border-radius: 40px;
  transition: 0.2s all ease-in-out;
  z-index: 2;
}
.hover-menu.hidden {
  visibility: hidden;
  opacity: 0;
}
@media (max-width: 1024px) {
  .container {
    padding: 0px 50px;
  }
}
@media (max-width: 1000px) {
  .container {
    padding: 0px 45px;
  }
  .site-header__nav-list {
    display: none;
  }
  h1 {
    font-size: 50px !important;
    line-height: 1.2em;
    margin-bottom: 40px;
  }
  h2 {
    font-size: 35px !important;
  }
  h3 {
    font-size: 25px !important;
  }
  p {
    font-size: 18px !important;
  }
  .site-header__navbar {
    min-height: 65px;
  }
  .site-header__logo {
    width: 172px;
    height: 22px;
  }
  .hero {
    padding-top: 200px;
  }
  .hero__group {
    justify-content: center;
  }
  .hero__group p {
    font-size: 14px !important;
  }
  .hero__group h5 {
    font-size: 15px;
  }
  .hero__avatars > img:first-child {
    margin-left: 0;
  }
  .hero__avatars img {
    width: 40px;
    height: 40px;
  }
  .hero__btn {
    padding: 19px 25px;
  }
  .hero__layout {
    flex-direction: column;
    gap: 80px;
  }
  .hero__average {
    text-align: left;
  }
  .hero__visuals-left {
    width: 50%;
    flex: none;
  }
  .hero__visuals-right {
    /* min-height: unset; */
    height: auto;
  }
  .hero__visuals-right {
    width: 50%;
  }
  .hero__layout .hero__content,
  .hero__visuals {
    width: 100%;
    text-align: center;
  }
  .hero__group {
    gap: 10px;
  }
  .hero__avatars {
    justify-content: center;
  }
  .hero__graph img {
    width: 432px;
    height: 350px;
  }
  .exclusive {
    padding: 80px 0px;
  }
  .exclusive__expert {
    flex-direction: column;
  }
  .exclusive__detail {
    width: 100%;
    text-align: center;
  }
  .exclusive__title {
    text-align: left;
    font-size: 15px !important;
  }
  .exclusive__dollars {
    width: 100%;
    text-align: center;
  }
  .levels__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .pts__heading {
    font-size: 20px !important;
  }
  .support__flex {
    flex-direction: column;
    text-align: center;
  }
  .support__zero {
    width: 100%;
  }
  .support__icon-flex {
    justify-content: center;
  }
  .support__input {
    width: 100%;
  }
  .footer__logo {
    text-align: center;
  }
  .footer__flex {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .exclusive__dollars img {
    width: 354px;
    height: 432px;
  }
  .brands__images-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .brands__title {
    flex: 0 0 100%;
    text-align: center;
    font-size: 1.5rem;
  }

  .brands__image {
    flex: 0 0 calc(50% - 0.5rem);
    max-width: calc(50% - 0.5rem);
  }
  .pts__flex {
    align-items: baseline;
  }
  .exclusive__btn-container btn {
    font-family: 'Funnel Display';
  }
  .support__flex {
    gap: 30px;
  }
}
@media (max-width: 690px) {
  h1 {
    font-size: 35px !important;
  }
  .hero__visuals {
    flex-direction: column;
  }
  .hero__visuals-left {
    width: 100%;
  }
  .hero__visuals-right {
    width: 100%;
  }
  .levels__cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0px 25px;
  }
  .sidebar__menu {
    width: auto;
  }
  .exclusive__dollars {
    padding: 35px 30px 30px;
  }
  .brands__images-flex {
    flex-direction: column;
  }
  .solutions__speak {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .solutions__card {
    flex-direction: column;
  }
  .solutions__card div {
    width: 100%;
    text-align: center;
  }
  .pts__flex {
    flex-direction: column;
    gap: 30px;
  }
  .pts__flex div {
    width: 100%;
  }
  .footer__flex li {
    font-size: 18px;
  }
  .footer__flex ul {
    text-align: center;
  }
  .solutions__heading {
    text-align: center;
  }
  .solutions {
    padding: 60px 0px;
  }
  .support__icon-flex {
    flex-direction: column;
    align-items: center;
  }
  .exclusive__expert {
    gap: 60px;
  }
  .brands {
    padding: 60px 0px;
  }
  .exclusive {
    padding-bottom: 0px;
  }
  .levels__change {
    padding: 60px 0px;
  }
  .solutions__info-description .solutions__btn {
    padding: 0;
  }
  .solutions__cards {
    gap: 40px;
  }
  .pts {
    padding-bottom: 60px;
  }
  .brands__images-flex img {
    height: 30px;
    width: 130px;
  }
}
